.modal {
    position: fixed;
    width: 80vw;
    min-height: 90vh;
    max-height: 90vh;
    margin: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
  
    border-radius: 15px;
    border-width: .8px;
    border-color: rgb(236, 231, 231);
    border-style: solid;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,.2);
  }

  .modalFullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(70, 70, 70, .7);
  }

  .modalButton {
    width: 36px;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 16px;
    
    padding: 6px;
    background-color: rgba(219, 219, 219, .5);
    
    border-radius: 50%;
    border-width: .6px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    
    font-size: 17px;
    font-weight: 800;
    color: rgb(70, 70, 70);
    
    cursor: pointer;
  }

  .modalButton:hover {
    background-color: rgba(160, 160, 160, 0.5);
  }

  .headerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  .modalTitle {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -.9px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-inline: 24px;
  }

  .avatarSmall {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 16px;
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    .lineDivider {
      width: .5px;
      background-color: darkgrey;
      margin-inline: 24px; 
    }

    @media (max-width: 986px) {
      .lineDivider {
        display: none;
      }
    }

    .modalExpensesSection {
      padding: 20px;
      margin-top: 20px;
      display: flex;
      flex: 1;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }

   .expenseAreaHeader {
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 16px;
      justify-self: center;
    }

    .inputSection {
      flex: 1;
      min-width: 350px;
      overflow-wrap: normal;
      flex-wrap: wrap;
    }

    .expenseInputSubsection {
      padding-left: 16px;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .expensesText {
      font-weight: 700;
      padding: 8px 24px 8px 0px;
    }

    .input {
      padding: 8px;
      margin-bottom: 8px;
      width: 200px;
      border-color: rgb(164, 164, 164);
      border-radius: 8px;
      border-width: 1px;
      border-style: solid;
      font-size: 12px;
      font-family: "Open Sans";
      font-weight: 500;
    }

    .button {
      padding: 6px;
      width: 25%;
      min-width: 85px;
      margin: 26px 16px 16px 0px;
      background-color: rgba(0,0,0,0);
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color:rgb(121, 35, 251);

      border-radius: 8px;
      border-width: 1px;
      border-style: solid;
      border-color:rgb(121, 35, 251);;

      cursor: pointer;
    }

    .button:hover {
      color: rgb(255, 255, 255);;
      background-color: rgb(121, 35, 251);;
      border-color: rgb(121, 35, 251);
    }

    .loggedExpensesSection {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 350px;
    }

    .loggedExpensesParentContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 16px;
      margin: 0;
    }


    .expenseList {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .expenseRowLi {
      display: flex;
      flex:1;
      justify-self: flex-start;
      padding: 0;
      margin: 0;
    }

    .expenseRowContent {
      display: flex;
      flex: 3;
      align-items: center;
      justify-content: flex-start;
    }

    .removeExpenseButton {
      padding: 6px;
      width: 25%;
      flex: 1;
      min-width: 85px;
      margin: 8px 0px 8px 8px;
      background-color: rgba(0,0,0,0);
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color:rgb(121, 35, 251);
      align-self: flex-end;

      border-radius: 8px;
      border-width: 1px;
      border-style: solid;
      border-color:rgb(121, 35, 251);;

      cursor: pointer;
    }

    .removeExpenseButton:hover {
      color: rgb(255, 255, 255);;
      background-color: rgb(121, 35, 251);;
      border-color: rgb(121, 35, 251);
    }

    .bottomRow {
      display: flex;
			flex-direction: row;
		  justify-content: space-between;
    }

    .totalText {
      text-align: left;
      align-self: center;
      font-weight: 900;
      font-size: 20px;
      flex: 1;
    }

    @media (max-width: 924px) {
      .headerBar {
        flex-direction: column;
        align-items: flex-start;
        position: static;
      }
      .modalTitle {
        position: static;
        align-self: center;
      }
      .modalExpensesSection {
        padding: 0px;
        margin-top: 0px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .inputSection {
        flex-direction: column;
        min-width: 0px;
        max-width: 100%;
        flex-wrap: wrap;
      }
      .expenseInputSubsection {
        padding-left: 8px;
        padding-bottom: 24px;
      }
      .toHide {
        display: none;
      }
      .avatarSmall {
        position: static;
        align-self: center;
        margin: 16px 8px 8px 8px;
        }
      .loggedExpensesParentContainer {
        padding: 0px 0px 24px 8px;
        max-width: 100%;
        flex: 1;
        flex-direction: column;
      }
      .loggedExpensesSection {
        margin-top: 32px;
        flex: 1;
        flex-direction: column;
        max-width: 100%;
        min-width: 0;
       }
       .expenseList {
        justify-content: flex-start;
        flex-direction: column;
       }
      .bottomRow {
        flex-direction: column;
        margin-top: 24px;
      }
      .expenseRowLi {
        max-width: 100%;
        flex:1;
      }
      .totalText {
        text-align: left;
        align-self: flex-start;
      }
    }

    
  