.modal {
    position: fixed;
    width: 90vw;
    min-height: 90vh;
    max-height: 90vh;
    margin: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: scroll;
  
    border-radius: 15px;
    border-width: .8px;
    border-color: rgb(236, 231, 231);
    border-style: solid;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,.2);
  }

  .modalFullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(70, 70, 70, .2);
  }

  .modalButton {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    
    padding: 6px;
    background-color: rgba(219, 219, 219, .5);
    
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(137, 137, 137);
    border-style:none;
    
    font-size: 17px;
    font-weight: 800;
    color: rgb(70, 70, 70);
    
    cursor: pointer;
  }

  .modalButton:hover {
    background-color: rgba(160, 160, 160, 0.5);
  }

  .headerBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    flex-wrap: wrap;
  }

  .modalTitle {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -.9px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-inline: 24px;
  }

  .avatarSmall {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 16px;
    }

    @media (max-width: 599px) {
      .headerBar {
        flex-direction: column;
        align-items: flex-start;
        position: static;
      }
    
      .modalTitle {
        position: static;
        align-self: center;
      }
    
      .avatarSmall {
        position: static;
        align-self: center;
        margin: 16px 8px 8px 8px;
        }
    }

    .lineDivider {
      width: .5px;
      background-color: darkgrey;
      margin-inline: 24px; 
    }

    @media (max-width: 877px) {
      .lineDivider {
        display: none;
      }
    }

    .modalExpensesSection {
      padding: 20px;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

   .expenseAreaHeader {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 16px;
      justify-self: center;
    }

    .inputSection {
      flex: 1;
      min-width: 350px;
      overflow: scroll;
      flex-wrap: wrap;
    }

    .expenseInputSubsection {
      padding-left: 16px;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .expensesText {
      font-weight: 600;
      padding: 8px 24px 8px 0px
    }

    .input {
      padding: 6px;
      margin-bottom: 8px;
      width: 200px;
      border-color: rgb(137, 137, 137);
      border-radius: 8px;
      border-width: 1px;
    }

    .button {
      padding: 6px;
      width: 25%;
      min-width: 50px;
      margin: 26px 16px 16px 0px;
      background-color: rgba(0,0,0,0);
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      color:rgb(121, 35, 251);

      border-radius: 8px;
      border-width: 1px;
      border-style: solid;
      border-color:rgb(121, 35, 251);;

      cursor: pointer;
    }

    .button:hover {
      color: rgb(255, 255, 255);;
      background-color: rgb(121, 35, 251);;
      border-color: rgb(121, 35, 251);
    }

    .loggedExpensesSection {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 350px;
    }

    @media (max-width: 599px) {
      .loggedExpensesSection {
       margin-top: 32px;
      }
    }

    .loggedExpensesSubsection {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-left: 16px;
    }

    
  